body {
    // background: green;
}

.page-title {
    margin: 20px !important;
}
.chats {
    // background: yellow;
    width: 70%;
    margin: 30px auto;
    border: 1px solid black;
    // border-bottom: none;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.chat {
    // background: green;
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &:hover {
        cursor: pointer;
        background: rgb(167, 167, 167);

        color: white;
    }
}

.profile-pic-name-message {
    display: flex;
}

.name-message {
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.date {
    // background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// .name-message {
//     display: flex;
//     flex-direction: column;
// }
